@import "tailwindcss";

@theme {
  /* === Light Mode === */
  --spacing-container:1440px;
  --color-app-bg: hsl(0, 0%, 99%);
  --color-element-bg: hsl(0, 100%, 100%);
  --color-text-color: hsl(200, 15%, 8%);
  --color-input-color: hsl(0, 0%, 50%);
  --shadow-element-box: 0 -2px 40px rgba(0,0,0,0.15);
}

/* === Dark Mode Override === */
.dark {
    --spacing-container:1440px;
    --color-app-bg: hsl(207, 26%, 17%);
    --color-element-bg: hsl(209, 23%, 22%);
    --color-text-color: hsl(0, 100%, 100%);
    --color-input-color: hsl(0, 100%, 100%);
    --shadow-element-box:  0 1px 2px rgba(0,0,0,0.15), 0 8px 20px rgba(0,0,0,0.15);
}


body{
  font-family: var(--font-nunito), sans-serif;
}

